.footer {
  background-color: black;
  padding-bottom: 30px;
  .footer_box {
    margin: 0 80px;
    display: flex;
    &__ul {
      margin: 0 auto;
      &__li {
        &--title {
          color: #c6a765;
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        &--item {
          color: #c6a765;
          font-size: 14px;
          margin-bottom: 10px;
        }
        &--item:hover {
          text-decoration: underline;
          color: rgba(#c6a765, 0.8);
        }
      }
    }
  }
  &__logo {
    color: #c6a765;
    font-size: 15px;
    text-align: center;
    &--decolation {
      height: 60px;
      display: block;
      margin: 0 auto;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    background-color: black;
    .footer_box {
      margin: 0 auto;
      &__ul {
        margin: 0 auto;
        &__li {
          &--title {
            color: #c6a765;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
          }
          &--item {
            color: #c6a765;
            font-size: 14px;
            margin-bottom: 10px;
          }
          &--item:hover {
            text-decoration: underline;
            color: rgba(#c6a765, 0.8);
          }
        }
      }
    }
    &__logo {
      font-size: 12px;
      &--decolation {
        height: 40px;
        display: block;
        margin: 0 auto;
      }
    }
  }
}